body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 30px;
}

#barra-fija{
    margin-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 81, 255);
    top: 0;
    width: 100%;
}

#imageninicial{
    margin-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 81, 255);
    top: 0;
    width: 100%;
}

#titulo{
    float: left;
}

#titulo .titulo-escrito{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

.introduccion{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: large;
    padding: 20px;
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 10px;
}

#tablas{
    margin-top: 30px;
    text-align: center;
}


#tablaModulos{
    margin-left: 30%;
    margin-right: 30%;
    text-align:center
}

#tablaTrabajadores{
    margin-top: 20px;
    margin-left: 43%;
    margin-right: 43%;
}

th{
    font-size: large;
    text-align: center;
    padding: 10px;
    color: black;
    background-color: rgb(78, 104, 255);
}

td{
    background-color: rgb(175, 200, 247);
    text-align: center;
    padding: 10px;
    font-size: medium;
}

.profesores{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: large;
    padding: 20px;
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 10px;
    text-align: center;
}

.contacto{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: large;
    padding: 20px;
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 10px;
    text-align: center;
    overflow:hidden
}

#contacto{
    font-size: x-large;
    font-weight: bold;
    
}

input{
    width: 200px;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
}

button{
    width: 100px;
    border-radius: 10px;
}

form{
    float: left;
}
#logo{
    float: right;
    margin-top: 100px;
    margin-right: 30px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
}